.message {
    position: absolute;
    top: 40px;
    width: 300px;
    right: 50px;
    border: 1px solid black;
    padding: 25px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    color: gray;
}

.message span {
    color: gray;
    display: block;
    width:  200px;
}

.message p {
    margin-top: 0;
}