.message {
    height: 20px;
    position: relative;
    text-align: center;
    
}

.message:after {
    content: '';
    border-bottom: 1px solid green;
    display: block;
    width: 100%;
    top: 50%;
    position: absolute;
    z-index: 1;
}

.message  span{
    z-index: 2;
    position: absolute;
    background: white;
    padding:0 5px;
    transform: translateX(-50%);
}