.wrap {
    position: relative;
    width: 200px;
    height: 200px;
    background: bisque;
    margin-top: 50px;
    border-radius: 5px;
}

.badge {
    border-radius: 50%;
    background: red;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-50%);
}

.label {
    border-radius: 40px;
    background: red;
    color: white;
    width: 30px;
    padding: 0 5px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid white;
    transform: translate(50%,-50%);
}